body {
    font-family: $main-font;
    font-size: $default-font-size;

    color: #262626;
}

section {
    color: #ffffff;
    font-size: 17px;

    h3 {
        font-size: 60px;
        font-weight: 700;

        @include media-breakpoint-up(sm) {
            font-size: 90px;
        }
    }

    h4 {
        font-size: 40px;
        color: #262626;
        font-weight: 700;

    }

}